*{
  margin: 0;
  padding: 0;
  
}

body{
  background-color: #a3f2f3;
  text-align: center;
}

.container{
 height: 70vh;
 display: flex;
 justify-content:center ;
 align-items: center;
}
.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box{
height: 18vmin;
width: 18vmin;
border: none;
border-radius: 20px;
box-shadow: 0 0 1rem rgba(19, 46, 253, 0.3);
font-size: 8vmin;
color: #344575;
background-color: hsla(205, 100%, 96%, 0.792);
}
.reset{
  height: 8vmin;
  width: 36vmin;border: none;
  border-radius: 20px;
  box-shadow: 0 0 1rem rgba(19, 46, 253, 0.3);
  font-size: 3vmin;
  color: #486ea3;
}